# Environment Configuration
# Define the connection string for the primary MongoDB Atlas cluster.
# Format: mongodb+srv://<username>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_URI=""

# Define the Google Cloud API key for GenAI SDK authentication.
# Format: AIzaSy...
GEMINI_API_KEY=""
